.home-container {
  position: relative;
  top: 35vh;
  left: 50%;
  text-align: center;
  transform: translate3d(-50%, 0, 0);
}

.home-text,
.slider-item {
  font-size: 3.25rem;
  transition: font-size 0.3s ease-in-out;
}

.home-text {
  color: var(--white);
}

.slider {
  text-align: center;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  height: 45vh;
  // visibility: hidden;
}

.slider-item {
  position: absolute;
  list-style: none;
  margin: auto;
  text-align: center;
  width: 100%;
  line-height: 1.2;
  background: var(--white);
  background: -webkit-linear-gradient(
    right,
    var(--red),
    var(--orange),
    var(--gold)
  );
  background-clip: border-box;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// .slider-item.anim1 {
//   animation: cycle 15s linear infinite;
//   animation-delay: 2.8s;
// }

// .slider-item.anim2 {
//   animation: cycle2 15s linear infinite;
//   animation-delay: 2.8s;
// }

// .slider-item.anim3 {
//   animation: cycle3 15s linear infinite;
//   animation-delay: 2.8s;
// }

// .slider-item.anim4 {
//   animation: cycle4 15s linear infinite;
//   animation-delay: 2.8s;
// }

// .slider-item.anim5 {
//   animation: cycle5 15s linear infinite;
//   animation-delay: 2.8s;
// }

// .home-container:hover li {
//   animation-play-state: paused;
// }

@media (min-width: 400px) {
  .home-text,
  .slider-item {
    font-size: 4rem;
  }
}

@media (min-width: 769px) {
  .home-text,
  .slider-item {
    font-size: 6rem;
  }
}
