#contact-content {
  display: flex;
  flex-direction: column;
}

.contactInfo {
  position: relative;
  top: 35vh;
  font-size: 2rem;
  font-weight: 800;
  color: var(--orange);
  line-height: 1;
  text-align: center;
}

.contactInfo div {
  margin: 30px auto;
}

#contact-content a {
  color: var(--gold);
  text-decoration: none;
}

.underline-animation {
  position: relative;
}

.underline-animation:after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: -webkit-linear-gradient(right, var(--orange), var(--gold));
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
}

.underline-animation:hover:after {
  width: 100%;
  left: 0;
  background: -webkit-linear-gradient(right, var(--orange), var(--gold));
}

@media (min-width: 500px) {
  .contactInfo {
    font-size: 3.5rem;
  }
}

@media (min-width: 769px) {
  .contactInfo {
    font-size: 4rem;
  }

  .cursor {
    width: 20px;
    height: 20px;
    border: 10px solid var(--white);
    border-radius: 50%;
    position: absolute;
    // transition-duration: 100ms;
    // transition-timing-function: ease-out;
    animation: cursorAnim 1s infinite alternate;
    pointer-events: none;
    opacity: 0.8;
    z-index: 2;
  }

  @keyframes cursorAnim {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0.7);
    }
  }

  .cursor::after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    border: 15px solid var(--orange);
    border-radius: 50%;
    opacity: 1;
    top: -15px;
    left: -15px;
    animation: cursorAnim2 1s infinite alternate;
  }

  @keyframes cursorAnim2 {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0.4);
    }
  }

  .expand {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 25px;
    left: 25px;
    animation: cursorAnim3 0.5s forwards;
    border: 10px solid var(--red);
    border-radius: 50%;
  }
}

@media (min-width: 1025px) {
  .contactInfo {
    font-size: 5rem;
  }
}
