:root {
  --headerFont: 'Roboto', sans-serif;
  --bodyFont: 'Roboto', Helvetica;
  --red: rgba(253, 94, 83, 1);
  --orange: rgba(252, 156, 84, 1);
  --gold: rgba(255, 227, 115, 1);
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --black-zero: rgba(0, 0, 0, 0);
  --black-twenty: rgba(0, 0, 0, 0.2);
  --red: rgba(253, 94, 83, 1);
  --grey: rgba(200, 200, 200, 1);
  --grey-zero: rgba(200, 200, 200, 0);
  --grey-fifty: rgba(200, 200, 200, 0.5);
  --transition-delay: 0.5s;
  --transition-delay-step: 0.15s;
  --cubic: cubic-bezier(0.19, 1, 0.22, 1);
}

#ryans-portfolio {
  position: relative;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--black);
  /* overflow: hidden; */
  transition: background-color 2s linear;
  -webkit-transition: background-color 2s cubic-bezier(0.66, 0.01, 0.99, 0.2);
  color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
