.site-header {
  width: 100%;
  top: 0;
  right: 0;
  position: fixed;
  z-index: 2;
  // opacity: 0;
  transition: opacity 2s linear;
}

@media (min-width: 769px) {
  .site-header {
    padding: 20px 0px;
    display: flex;
    justify-content: space-evenly;
    transition: opacity 2s linear;
    background: var(--black-eightyfive);
  }
}
